<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Docsoftnew</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Docsoftnew.styles.css" asp-append-version="true" />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap4.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-beta1/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<style>
    .ipd-dropdown {
        background-color: #333;
        color: #fff;
    }

        .ipd-dropdown .dropdown-item {
            color: #fff;
        }

        .dropdown-menu {
        background-color: #333;
        color: #fff;
        }
        .dropdown-item{
        color: #fff;
        }
            .ipd-dropdown .dropdown-item:hover {
        background-color: #fff;
        color: black;
            }

            #red{
                background-color:lightblue;
            }
</style>
 
<body>
    <header>
        <nav id="red" class="navbar navbar-expand-md navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="~/stethoscope.png" width="40" height="40" alt="Logo">
                Docsoft
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-home"></i> Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="opdDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-hospital-o"></i> OPD
                        </a>
                        <div class="dropdown-menu" aria-labelledby="opdDropdown">
                            <!-- Dropdown menu items -->
                            <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Registration">New Registration</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Appointment">Appointment</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="consultantDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-stethoscope"></i> Consultant
                        </a>
                        <div class="dropdown-menu" aria-labelledby="consultantDropdown">
                            <!-- Dropdown menu items -->
                            <a class="dropdown-item" asp-controller="Doctor" asp-action="CheckUp">Check Up</a>
                            <a class="dropdown-item" href="#">Reprint</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="ipdDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bed"></i> IPD
                        </a>
                        <div class="dropdown-menu dropdown-menu-right ipd-dropdown" aria-labelledby="ipdDropdown">
                            <!-- Dropdown menu items -->
                                  <a class="dropdown-item" asp-area="" asp-controller="Addmission" asp-action="Addmission">New Addmission</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Addmission" asp-action="IPDBilling" >Billing</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Addmission" asp-action="BedMaster"  >Bed Master</a>
                               <a class="dropdown-item"  >Payment</a>
                               <a class="dropdown-item" >IPD Files</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>



    </header>
    <div style="margin:5px">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
       
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap4.min.js"></script>
     

    <base href="~/" />
    <script src="_framework/blazor.server.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/webcamjs/webcam.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
 

    <script>
        // Enable dropdown on hover
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $(this).addClass('show');
                    $(this).find('.dropdown-menu').addClass('show');
                },
                function () {
                    $(this).removeClass('show');
                    $(this).find('.dropdown-menu').removeClass('show');
                }
            );
        });

        document.addEventListener('keydown', function (event) {
            if (event.keyCode === 13) {
                var form = event.target.form;
                var index = Array.prototype.indexOf.call(form, event.target);
                var nextIndex = index + 1;

                // Skip over hidden or disabled elements
                while (form.elements[nextIndex] && (form.elements[nextIndex].hidden || form.elements[nextIndex].disabled)) {
                    nextIndex++;
                }

                if (nextIndex < form.elements.length) {
                    form.elements[nextIndex].focus();
                    event.preventDefault();
                }
            }
        });




    </script>


</body>
</html>
