@using DocsoftBack.Appopintment
@using DocsoftBack;
@{
	List<ApponmentModels> Getapponments()
	{
		List<ApponmentModels> apponments = new();

		DateTime dt = DateTime.Today;
		var sql = "";
		DateTime dt1 = dt.AddDays(1);
		sql = "select * from Appoint_OPD  Where Date_ between  '" + dt + "'and '" + dt1 + "'  and Status='Active'";
		apponments = MainEngine.GetList<ApponmentModels>(sql).ToList();
		return apponments;

	}
	List<string> GetName()
	{


		List<string> apponments = new();
		string TTp;
		DateTime dt = DateTime.Today;
		var sql = "";
		DateTime dt1 = dt.AddDays(1);
		foreach (var itme in Getapponments())
		{
			sql = "select Patient_Name from Petient_Details Where UHID = '"+itme.UHID+"' ";
			TTp = MainEngine.GetFirst<string>(sql);
			apponments.Add(TTp);
		}

		return apponments;
	}


	IEnumerable<dynamic> GetResult()
	{
		return   Getapponments().Zip(GetName(), (apoint, name) => new { Apoint = apoint, Name = name });


	}

}


<div class="container">

 

	<div class="text-center">
		<div style="border:groove;height:350px">
			<div class="row">
				<div class="col-md-12">
					<div style="overflow-y:scroll;height:300px">
					<table class="table table-hover">
		      <thead>
				  <tr>
					  <td>
						  Appointment ID
					  </td>

								<td>
									Apoint Time
								</td>

								<td>
									Name
								</td>
								<td>
									Select
								</td>
				  </tr>
			  </thead>
			  <tbody>

								@foreach (var item in GetResult())
					{
						<tr>
							<td>
											@item.Apoint.Appointment_ID
							</td>
							<td>
											@item.Apoint.Ap_Time
						 
</td>
					
										<td>
											@item.Name
										

										</td>
<td>
											<button onclick="GetCheack(@item.Apoint.Appointment_ID,@item.Apoint.UHID)" type="button" class="btn btn-primary btn-sm">Select</button>
</td>
					
						</tr>
					 
					}
					

			  </tbody>

</table>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
   
				  <script>

					   

		function GetCheack(i,b) {

		 

			$.ajax(
				{
					type: 'POST',
					dataType: 'JSON',
					url: '/Doctor/GetSelect',
					data: { apd: i, UHID: b },
					success:
						function (response) {

						window.location.href = response.redirectUrl;
							 
						},
					error:
						function (response) {
							alert("Error: " + response);
						}
				});


						   }

			 

				  </script>