@using DocSoftSupport.Test
@model DocSoftSupport.Test.TestModels
@{
	ViewData["Title"] = "Test Sorts";
}
<form asp-action="GetSorts">
<div class="row">
		
	<div class="col-md-4">
		<label class="form-label" >Enter Name:</label>
		<input type="text" asp-for="Name"  class="form-control" />
	</div>


	
	<div class="col-md-4">
		<label class="form-label">Enter Age:</label>
		<input type="text" asp-for="Age" class="form-control" />
	</div>

	
	<div class="col-md-4">
		<label class="form-label">DOB:</label>
		<input asp-for="DOB" type="date" class="form-control" />
	</div>



</div>

<div  class="row mt-2">
	<div class="col-md-4 col-md-offset-1">
       
		<button  type="submit" class="btn btn-warning btn-sm" >Save Form</button>

	</div>



</div>


</form>


