
@{

}

<div class="row">
	<div class="col-md-4">
		 <input type="text" id="first" />
		 <input type="text" id="second" />


		<input type="text" id="third" />
		<button  type="button" id="test" >Submit</button>


	</div>
</div>
 
