 
@using DocsoftBack.Addmission;
@{



}
@model IPDRATEMODELS
<style>
	input[type="text"] {
		border: 1px solid #ced4da;
		border-radius: 4px;
		padding: 0.375rem 0.75rem;
		font-size: 1rem;
		line-height: 1.5;
		width: 100%;
	}
</style>

 

	   

 <div class="container">

	

	<div class="row">
	 <div class="col-md-2">
			<div class="row mt-1">
				<div class="col">
					<button id="gotop" class="btn btn-primary" style="width:200px">
						Petionat DayWise <svg style="  width:auto;height:auto; margin-left:10px; background: red;
  border-radius: 50%" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
							<path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
						</svg>
					</button>
				</div>

			</div>


			<div class="row mt-1">
				<div class="col">
					<button id="gotob" class="btn btn-primary" style="width:200px;">
					Submission Bill <svg style="  width:auto;height:auto;justify-content: flex-end;
  background: red;
  border-radius: 50%" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
							<path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
						</svg>
					</button>
				</div>
			</div>
		</div>


		<div class="col-md-10">
			 


			<div id="ipd" style="margin:5px">
				<div class="container">
			 <div class="row mt-2" >

				 <input type="text" id="iipd" hidden="hidden" asp-for="IPD_ID"  />

				 <input type="datetime-local" id="iadmit" hidden="hidden" asp-for="Admit_Time"  />
				 <input type="text" id="uhid" hidden="hidden" asp-for="UHID"  />



				 <div class="col-md-12" >
			<div style="border:groove"  id="IPDP">
				<div >
					<table id="Pre_table" style="overflow-y:scroll;height:200px"  class="table table-hover">
						<thead>
							<tr>
								<th scope="col">Sr.No</th>
								<th scope="col">Description</th>
								<th scope="col">Category</th>
								<th scope="col">Rate</th>
								<th scope="col">Unit</th>
											<th scope="col">Amount</th>
											<th scope="col">Delete</th>
 

							</tr>
						</thead>
						<tbody id="IPDP">
							 

						</tbody>

					</table>
				</div>
				</div>
				</div>

			</div>
		</div>


		 <div   id="dywise" >
			<div style="border:groove;margin:10px">
			<div style="margin:10px" >
			<div class="row mt-3">
			 
				<div class="col-md-3" >
				<lable style="margin:5px" class="form-lable">Discharge Date:</lable>

				</div>

				<div class="col-md-8">
					<input id="getdatetime" asp-for="DateTime_" type="datetime-local" class="form-control" />
				</div>

				</div>
				


		<div class="row mt-3">
			 
			<div  class="col-md-12">
				<h3 style="margin:5px">Day Wise Calculation:</h3>
			 
			</div>


		</div>
 



	<div class="row mt-3">

	 <div class="col-md-12">
		 <div style="border:groove">

			 <div class="row mt-2">
				 <div class="col-md-3">
		<lable style="margin:5px" class="form-lable">Bed Type:</lable>

					 
</div>


<div class="col-md-4">
	<lable id="btype" style="margin:5px" class="form-lable"></lable>

</div>
			 </div>
		<div class="row mt-2">
		<div class="col-md-3">
		<lable style="margin:5px" class="form-lable">Total Days:</lable>
</div>
<div class="col-md-4">
<lable id="tdays" style="margin:5px" class="form-lable"></lable>

											</div>
										</div>


										<div class="row mt-2">
											<div class="col-md-3">
												<lable style="margin:5px" class="form-lable">Round Days:</lable>


											</div>


											<div class="col-md-4">
												 <input type="number"  class="form-control" id="rdays" />
											</div>
										</div>


<div class="row mt-2">
<div class="col-md-3">
<lable style="margin:5px" class="form-lable">Charges Per Day:</lable>
</div>
	<div class="col-md-4">
												<input type="text" class="form-control" id="crdays" />
</div>
 </div>
	<div class="row mt-2">
	<div class="col-md-3">
<lable	 style="margin:5px" class="form-lable">Total Charges:</lable	>

</div>
<div class="col-md-4">
<input type="text" class="form-control" readonly="readonly" id="tcharges" />
	</div>
	</div>
 </div>
<div class="row mt-2">
<div class="col-md-3">
<button type="button" id="addroom" class="btn-secondary">Add Room Charges</button>
	</div>
</div>
	 </div>
  </div>
   </div>
			</div>
			<div class="container">
				<div class="row mt-2">
					<div class="col-md-3">
						<button id="gotonext" type="button" class="btn btn-primary">Next</button>
					</div>
				</div>

			</div>
	</div>


			<div hidden="hidden" id="next">
				<div style="border:groove;margin:10px">
					<div>
						 
						<div class="row mt-3">

							<div class="col-md-12">
							 

								 <div style="margin:10px" class="row mt-2">

									 <div   class="col-md-4">
										 <label class="form-label" >Description</label>

</div>
										<div   class="col-md-2">
											<label class="form-label">Categary</label>

										</div>

										<div    class="col-md-2">
											<label class="form-label">Rate</label>

										</div>
										<div   class="col-md-1">
											<label class="form-label">Unit</label>

										</div>

												<div    class="col-md-2">
											<label class="form-label">Amount</label>

										</div>

								<div class="container">
									<div class="row mt-2">
										<div class="col-sm-6 col-md-4 mb-2">
											<select asp-for="Discription" class="form-select" id="desc">
												<option value="select" >Select</option>
												@foreach(var item in IpdBilling.GetDescriptions())
												{
													<option value="@item">@item</option>
												}

											</select>
										</div>
										<div class="col-sm-6 col-md-2 mb-2">
											<input readonly="readonly" asp-for="Item_Type" id="chatg" type="text" class="form-control" />
										</div>
										<div class="col-sm-6 col-md-2 mb-2">
											<input asp-for="Rate" id="rate" type="text" class="form-control" />
										</div>
										<div class="col-sm-6 col-md-1 mb-1">
											<input asp-for="Unit" id="unit" value="1" type="text" class="form-control" />
										</div>
											<div class="col-sm-6 col-md-2 mb-2">
												<input asp-for="Amount" id="ammount" readonly="readonly" type="text" class="form-control" />
											</div>
										<div class="col-sm-6 col-md-1 mb-1">
											<button type="button" id="adddisc"   class="btn-success btn-sm">Add</button>
										</div>

									</div>
								</div>

								<div class="container">

									<div class="row mt-2">
										<div class="col-md-3" >
											<h4>Total Amount :</h4>
</div>

<div class="col-md-5">
 <input type="number" class="form-control" value="0" readonly="readonly" id="totalamount" />

</div>
									</div>
</div>
 
                                 <div class="container">
									 <div class="row mt-2">
										 <div class="col-md-1">
											 <label  style="margin:5px"  class="form-label">Discount</label>
</div>

<div class="col-md-2">
	<input id="disc" type="number" value="0" class="form-control" />
</div>

<div class="col-md-5">
	<input type="text" id="afterdisc" class="form-control" />
</div>
								 </div>

								</div>


									<div class="container">
										<div class="row mt-2">
											<div class="col-md-3">
												<label class="form-label">Bill Amount After Discount</label>
											</div>

											<div class="col-md-4">
												<input id="afterdiscount" type="number" readonly="readonly" class="form-control" />
											</div>

										 
										</div>

									</div>



						 
	</div>
								</div>



					</div>

					 
					 



				</div>


			</div>

				<div class="container">
					<div class="row mt-2">


						<div  class="col-sm-6 col ">
							<button id="savebill" type="button" class="btn btn-primary">Save Bill</button>

						</div>

						
						<div  class="col-sm-6 col ">
							<button id="discharge" type="button" class="btn btn-warning">Discharge</button>

						</div>

							 
					</div>

				</div>





			</div>
		</div>
	</div>
 
	</div>
</div>


 <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

		 <script>
	$("#gotop").click(function () {
		$("#dywise").removeAttr("hidden");
		$('#next').attr('hidden', 'hidden');
	});

	$("#gotob").click(function () {
		$("#next").removeAttr("hidden");
		$('#dywise').attr('hidden', 'hidden');
	});

	$("#rdays").keyup(function () {
		var round = $("#rdays").val();
		var charges = $("#crdays").val();
		let calculation;
		calculation = parseInt(round) * parseInt(charges);
		$("#tcharges").val(calculation);
	});

	$("#unit").keyup(function () {
		var rates = $("#rate").val();
		var u = $("#unit").val();
		let calculation;
		calculation = parseInt(rates) * parseInt(u);
		$("#ammount").val(calculation);
	});

	$("#rate").keyup(function () {
		var rd = $("#rate").val();
		$("#ammount").val(rd);
	});

	$("#disc").keyup(function () {
		var to = $("#totalamount").val();
		var di = $("#disc").val();
		var tamount = parseFloat(to);
		var discs = parseInt(di);
		var calculation;
		calculation = (discs / 100) * tamount;
		var final = tamount - calculation;
		$("#afterdisc").val(calculation);
		$("#afterdiscount").val(final);
	});

	$("#adddisc").click(function () {
		var ta = $("#ammount").val();
		var to = $("#totalamount").val();
		var cp = parseFloat(ta);
		var up = parseFloat(to);
		var ca;
		ca = cp + up;
		var value = $("#desc").val();
		var table = document.getElementById("Pre_table");
		var rows = table.rows;
		for (var i = 0; i < rows.length; i++) {
			var cells = rows[i].cells;
			for (var j = 0; j < cells.length; j++) {
				if (cells[j].textContent === value) {
					alert("Already Exist?");
					return;
				}
			}
		}
		$.ajax({
			type: 'POST',
			dataType: 'JSON',
			url: '/Addmission/AddDesc',
			data: {
				ipd: $("#iipd").val(),
				Desc: $("#desc").val(),
				chatg: $("#chatg").val(),
				rate: $("#rate").val(),
				unit: $("#unit").val(),
				Amount: $("#ammount").val(),
			},
			success: function (response) {
				var lastRow = $('#Pre_table tr:last');
				var lastValue = lastRow.find('td:nth-child(1)').text();
				var rownumber;
				if (lastValue == '') {
					rownumber = 1;
				} else {
					rownumber = parseInt(lastValue) + 1;
				}
				var newrow = '<tr><td>' + rownumber + '</td><td>' + $("#desc").val() + '</td><td>IPD</td><td>' + $("#rate").val() + '</td><td>' + $("#unit").val() + '</td><td>' + $("#ammount").val() + '</td><td><button type="button" class="del-row btn-primary btn-sm">Delete</button></td></tr>';
				$('#Pre_table tr:last').after(newrow);
			},
			error: function (response) {
				alert("Error: " + response);
			}
		});
		$("#totalamount").val(ca);
	});

	$(document).ready(function () {
		$.ajax({
			type: 'POST',
			dataType: 'JSON',
			url: '/Addmission/GetData',
			data: {
				IPD: $("#iipd").val(),
				Admit: $("#iadmit").val(),
				GetDate: $("#getdatetime").val()
			},
			success: function (response) {
				$("#btype").val(response.Bed_Type);
				$("#rdays").val(response.RoundDays);
				$("#crdays").val(response.Charges);
				$("#tdays").val(response.GetDays);
			},
			error: function (response) {
				alert("Error: " + response);
			}
		});
	});

	$(function () {
		$("#gotonext").click(function () {
			$("#next").removeAttr("hidden");
			$('#dywise').attr('hidden', 'hidden');
		});
	});

	$("#desc").change(function () {
		$.ajax({
			type: 'POST',
			dataType: 'JSON',
			url: '/Addmission/GetDesc',
			data: { desc: $("#desc").val() },
			success: function (response) {
				$.each(response, function (i, item) {
					$("#chatg").val(item.Item_Type);
					$("#rate").val(item.Rate);
					$("#ammount").val(item.Rate);
				});
			},
			error: function (response) {
				alert("Error: " + response);
			}
		});
	});

	$('#Pre_table').on('click', '.del-row', function () {
		var sr_no = $(this).closest('tr').find('td:first').text();
		$.ajax({
			type: 'POST',
			dataType: 'JSON',
			url: '/Addmission/delete_row',
			data: {
				apoint: $("#iipd").val(),
				srn: sr_no
			},
			success: function (response) {
				console.log(response);
			},
			error: function (response) {
				alert("Error: " + response);
			}
		});
		var row = $(this).closest('tr');
		row.remove();
	});

	$("#addroom").click(function () {
		var tp = $("#tcharges").val();
		var to = $("#totalamount").val();
		var cp = parseFloat(tp);
		var up = parseFloat(to);
		var ca;
		ca = cp + up;
		$.ajax({
			type: 'POST',
			dataType: 'JSON',
			url: '/Addmission/AddRoom',
			data: {
				ipd: $("#iipd").val(),
				Desc: $("#btype").val(),
				chatg: "IPD",
				rate: $("#crdays").val(),
				unit: $("#unit").val(),
				Amount: $("#tcharges").val()
			},
			success: function (response) {
				var lastRow = $('#Pre_table tr:last');
				var lastValue = lastRow.find('td:nth-child(1)').text();
				var rownumber;
				if (lastValue == '') {
					rownumber = 1;
				} else {
					rownumber = parseInt(lastValue) + 1;
				}
				var newrow = '<tr><td>' + rownumber + '</td><td>' + $("#btype").val() + '</td><td>IPD</td><td>' + $("#crdays").val() + '</td><td>' + $("#unit").val() + '</td><td>' + $("#tcharges").val() + '</td><td><button type="button" class="del-row btn-primary btn-sm">Delete</button></td></tr>';
				$('#Pre_table tr:last').after(newrow);
				$("#totalamount").val(ca);
			},
			error: function (response) {
				alert("Error: " + response);
			}
		});
	});


	$("#discharge").click(function(){
		$.ajax({

			type: 'POST',
			dataType: 'JSON',
			url: '/Addmission/Discharge',
			data: {
				ipd: $("#iipd").val(),
				date_: $("#getdatetime").val(),
				uhid: $("#uhid").val(),
			 
			},
			success: function (response) {


				
			
		fetch(response.redirectUrl)
			.then(response => response.blob())
			.then(blob => {
				var url = URL.createObjectURL(blob);
				window.open(url, "_blank","width=800,height=600");
			})
			.catch(error => {
				console.log("Error fetching PDF:", error);
			});

				alert("Discharged Patient Successfully!");

			},
			error: function (response) {
				alert("Error Somethings Wrong");
			}


		});

	});


	$("#savebill").click(function(){

		$.ajax({

			type: 'POST',
			dataType: 'JSON',
			url: '/Addmission/SaveBill',
			data: {
				ipd: $("#iipd").val(),
				AferDisc: $("#afterdiscount").val(),
				Discount: $("#disc").val(),
				AfterDiscs: $("#afterdisc").val(),
				Amount: $("#totalamount").val()
			},
			success: function (response)
			{

			 
               alert("Suucessfully Saved Data");
				 
			},
			error: function (response) {
				               alert("Something Wrongs?");



			}


		});

	});
		 </script>